@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://use.typekit.net/wzc4ulb.css");

html {
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
   font-family: monospace;

    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  }
  a{text-decoration: none;}
  
  header {
    grid-column:1/3;
    
    color:rebeccapurple;
    padding: 4rem;
    text-align: center;

  }
  nav {
    white-space: nowrap;
    /*background: wheat;*/

  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color:black;
  }
  section{
  
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
  /* Only stick if you can fit */
  @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;

    }
  }
  nav ul li a {
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    font-family: "Hepta Slab", serif;
    font-weight: 200;
    font-size: .8em;
    color:black;
  }
  nav ul li a.current {
    background: rebeccapurple;
    font-weight: 400;
    color:white;
   
  }
  main {
    padding-bottom: 40rem;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
    
  }

  footer {
    grid-column: 1 / 3;
    background: whitesmoke;
    padding: 5rem 1rem;
    text-align: center;
  }
  h1 {
    color:rebeccapurple;
   font-family: "Hepta Slab", serif;
    
    font-size: 2em;
    transition:ease-in-out 1s;
    font-weight: 200;
text-align: left;
  }
  h1:hover{
    transition:ease-out 0.5s;
     font-weight: 600;
  }
p{
  padding: .5em;
  width:80%;
  text-align: center;
}
.picture{

align-self: center;
width: 50%;
height: auto;
}
.hidden{
  opacity:100;
transition: ease-in-out .5s;


}
.hidden:hover{
  opacity:0;



}

/* .hidden:hover{
  background-image: url("fajvo2.png");
  background-size: auto;
  
} */
.collageindex {
 
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,300px));
  color:black;
}
.collageindex span {
 
  position: relative;
top: -50%;
left: -40%;
z-index:-20 ;
pointer-events: none;
}

    #welcometext{

padding: 1em;
    position: absolute;
    left:5%;
    top:5%;
      }
 #welcometext:hover{

transform: rotate(2deg);
font-size: .8em;

  }
  .comeback{
margin:2em;
text-align: left;
  }

    img#small.picture{
      width: 15em;
     }
  @media (max-width: 768px) {
    nav{
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: -10;
    }
    body{
      display:block;
    }
    main{
  grid-column: 1/3;
    }
 
    .picture{
      width:80%;
      height:auto;
    }
  }
  .slick-slide{
    color:black;
    text-align: center; 
  }


 
.sketches{
  grid-column: 2;
}