@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://use.typekit.net/wzc4ulb.css");

html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
   font-family: monospace;

    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  }
  a{text-decoration: none;}
  
  header {
    grid-column: 1 / 3;
    background: wheat;
    color: white;
    padding: 4rem;
    text-align: center;
 min-height: 100vh;
  }
  nav {
    white-space: nowrap;
    /*background: wheat;*/

  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color:black;
  }
  section{height: 100vh;
  text-align: center;}
  /* Only stick if you can fit */
  @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;

    }
  }
  nav ul li a {
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    font-family: "Hepta Slab", serif;
    font-weight: 200;
    font-size: .8em;
    color:black;
  }
  nav ul li a.current {
    background: rebeccapurple;
    font-weight: 400;
    color:white;
   
  }
  main {
    padding-bottom: 40rem;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
    
  }

  footer {
    grid-column: 1 / 3;
    background: whitesmoke;
    padding: 5rem 1rem;
  }
  h1 {
    color:rebeccapurple;
   font-family: "Hepta Slab", serif;
    
    font-size: 1em;
    transition:ease-in-out 1s;
    font-weight: 200;
text-align: left;
  }
  h1:hover{
    transition:ease-in-out 1s;
     font-weight: 800;
  }
